.hidden {
    display: none;
}

.user_row {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.user_row input {
    margin-right: 2px;
}

.user_id {
    overflow:auto;
}

#grid {
    width: 800px;
}